<nav class='header'>
    <p class='welcome'>Please log in!</p>
    <img src='assets/images/logo.png' alt='logo' class="logo" />
    <form class='login' #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <input type="text" placeholder='username' class='login__input login__input--user'
               name="uname" [(ngModel)]="username" />
        <input type="password" placeholder='pin' maxLength='4' #pinInput
               class='login__input login__input--pin' name="pin" [(ngModel)]="pin" />
        <button type="submit" class='login__btn'>&rarr;</button>
    </form>
</nav>